.profilesongname {
    color: #fff;
    background-color: rgba(0,0,0,.8);
    max-width: 100%;
    box-sizing: border-box;
    display: inline;
    font-weight: 100;
    font-size: 24px;
    line-height: 37px;
    padding: 4px 7px;
    width: fit-content;
    margin-bottom: -5px;
}

.profilecontainer {
    padding-bottom: 62;
    position: absolute;
    left: 0;
    top: 0% ;
    width: 100%;
    height: 45%;
    display: block;
    background: linear-gradient(45deg, #ED4264, #FFEDBC) border-box;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

}

.profileusername {
    width: fit-content;
    padding: 2px 7px 3px;
    font-size: 16px;
    line-height: 1.2;
     color: #ccc;
    font-weight: 100;
    background-color: rgba(0,0,0,.8);
    background-color: rgba(0,0,0,.8);
    display: inline;
    position: relative;
    margin-bottom: 50px;
}

.profilecontainer img{
    height: 100%;
    opacity: 1;
    box-shadow: inset 0 0 0 1px rgb(0 0 0 / 10%);
    text-align: center;
    position: relative;
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    max-width: 280px;
    max-height: 280px;
    margin-right: 55px;
    border-radius: 50px;
    border-radius: 50px;
    border: 5px solid transparent;
}

.songusercontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 54px;

}

.test {
    background-color: green;
}

.Input {
    background: #f2f2f2;
    height: 38px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    width: 50%;
    border: 1px solid #e5e5e5;
    transition: background .3s,border .3s;
    margin-left: 20px;
}

.commentInput input{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    height: 27px;
    font-size: 14.5px;
    padding-left: 9px;
    transition: border .3s;
}

.commentList {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.comment {
    min-width: 300px;
    background: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    position: relative;
    padding: 10px 20px;
    background: #f50;;
    border-radius: 10px;
    margin-bottom: 15px;
    inset-inline: 20px;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    color: white;
}

.commentContent {
    margin: 10px;
    font-size: large;
}

.username {
    font-size: medium;
    text-align: right;
}

.comment button{
    margin-left: 3px;
    border: 1px solid white;
    padding: 5px;
    border-radius: 3px;
}

.commentbuttoncontainer {
    display: flex;
    justify-content: right;
    margin-top: 5px;
}

.commentFormContainer {
    display: flex;
    justify-content: center;
}

.commentInput {
    background: #f2f2f2;
    height: 38px;
    display: flex;
    align-items: center;
    padding: 5px;
    width: 815px;
    border: 1px solid #e5e5e5;
    transition: background .3s,border .3s;
    margin-left: 20px;
}

.commentsignin{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 100;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    color: #333;
    margin: 20px;

}

.editcommentinput {
    border-radius: 5px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    height: 27px;
    font-size: 14.5px;
    padding-left: 9px;
    transition: border .3s;
    width: 15vw;
}
